.IdUploadForm390L {
  .termsGroup {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    input {
      height: 18px;
      width: 18px;
    }
  }
  .TermsModal {
    color: var(--themePrimary);
    cursor: pointer;
  }
  .FileUPloadWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid var(--themePrimary);
    border-radius: 8px;
    cursor: pointer;
    label {
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
}
