.termsPage939 {
  .content_wrap {
    h3 {
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 1rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    h4 {
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 1rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 140%;
      color: #000;
      margin-bottom: 1rem;
      text-align: justify;
      @media only screen and (max-width: 1440px) {
        font-size: 16px;
      }
      a {
        color: #000;
        text-decoration: none;
        font-size: 18px;
        line-height: 140%;
        &:hover {
          color: var(--themePrimary);
        }
        @media only screen and (max-width: 1440px) {
          font-size: 16px;
        }
      }
    }
    ul {
      li {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 0.5rem;
        font-weight: 400;
        &:last-child {
          margin-bottom: 0;
        }
        @media only screen and (max-width: 1440px) {
          font-size: 16px;
        }
      }
    }
  }
}
