.CustomerRegister3929 {
  .ItemWrapperCust {
    @media only screen and (max-width: 1400px) {
      padding-top: 120px;
    }
    @media only screen and (max-width: 776px) {
      padding-top: 500px;
    }
    @media only screen and (max-width: 776px) {
      padding-top: 550px;
    }
  }
}
