.ThingTOdoPack312 {
  padding-bottom: 15px;
  .sliderArrows {
    text-align: end;
    // padding-inline-end: 40px;
    @media (max-width: 560px) {
      padding-inline-end: 0;
    }
    @media (max-width: 990px) {
      text-align: start;
    }
    @media (max-width: 580px) {
      display: none;
    }
  }
}
