.cst_hidden {
  display: none;
}
.cst_modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  z-index: 5555555;
  display: flex;
  justify-content: start;
  flex-direction: column;
  animation: hiehtMoveup 0.5s;
  .closeIcon_wrapper {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    z-index: 55555555;
    @media (max-width: 580px) {
      right: 10px;
      top: 5px;
    }
    .closeIcon {
      color: tomato;
      cursor: pointer;
    }
  }
  video {
    height: 100vh;
    width: 100vw;
    margin: auto;
  }
}
